.divTable {
	position: relative;
	left: 5%;
	width: 90%;
	margin-top: 50px;
}

.btn-back {
	margin: 20px 0px 20px 50px;
}
.btn-logout{
	float : right;
	margin :20px 50px;
}

#noFlightFound {
	font-size: 30px;
	color: red;
	width: 90%;
	margin: auto;
	margin-top: 20px;
	text-align: center;
}

#user-name-logout {
	width: 160px;
	position: relative;
	float: right;
}

#header-wrapper {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(30,
		87, 153, 1) ), color-stop(27%, rgba(30, 87, 153, 1) ),
		color-stop(44%, rgba(59, 103, 153, 1) ),
		color-stop(80%, rgba(41, 137, 216, 1) ),
		color-stop(100%, rgba(125, 185, 232, 1) ) ); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(30, 87, 153, 1) 0%,
		rgba(30, 87, 153, 1) 27%, rgba(59, 103, 153, 1) 44%,
		rgba(41, 137, 216, 1) 80%, rgba(125, 185, 232, 1) 100% );
	/* Chrome10+,Safari5.1+ */
	height: 100px;
	margin: 0 auto;
	margin-bottom: 20px;
}

#header-title {
	font-size: 42px;
	width: 300px;
	padding-top: 30px;
	margin: 0 auto;
}

#user-name {
	float: left;
}

#footer-wrapper {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(125,
		185, 232, 1) ), color-stop(20%, rgba(41, 137, 216, 1) ),
		color-stop(56%, rgba(59, 103, 153, 1) ),
		color-stop(73%, rgba(30, 87, 153, 1) ),
		color-stop(100%, rgba(30, 87, 153, 1) ) ); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(125, 185, 232, 1) 0%,
		rgba(41, 137, 216, 1) 20%, rgba(59, 103, 153, 1) 56%,
		rgba(30, 87, 153, 1) 73%, rgba(30, 87, 153, 1) 100% );
	/* Chrome10+,Safari5.1+ */
	margin: 0 auto;
	height: 50px;
	margin-top: 20px;
}