body {
	background-color: #ddd;
}

#errorBlock {
	display: none;
}

.btn-logout{
	margin-left : 48%;
}
.divForm {
	position: relative;
	width: 30%;
	left: 35%;
	margin-top : 50px;
}

